.main-contents img {
  max-width: 60%;
}

.main-contents h1,
.main-contents h2,
.main-contents h3,
.main-contents h4,
.main-contents h5,
.main-contents h6 {
  font-weight: normal;
  color: #111;
  margin: 1rem;
}

.main-contents h4,
.main-contents h5,
.main-contents h6 {
  font-weight: bold;
}

.main-contents h1 {
  font-size: 2.5rem;
  margin: 1.3rem 0.3rem;
}

.main-contents h2 {
  font-size: 2rem;
  margin: 1.2rem 0.2rem;
}

.main-contents h3 {
  font-size: 1.0rem;
  margin: 1.1rem 0.1rem;
}

.main-contents h4 {
  font-size: 0.8rem;
}

.main-contents h5 {
  font-size: 0.7rem;
}

.main-contents h6 {
  font-size: 0.6rem;
}

.main-contents blockquote {
  color: #666666;
  padding-left: 3em;
  border-left: 0.5em #eee solid;
}

.main-contents hr {
  display: block;
  border: 0;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #eee;
  margin: 1em 0;
  padding: 0;
}

.main-contents b,
.main-contents strong {
  font-weight: bold;
}

.main-contents ul,
.main-contents ol {
  margin: 1em 0;
  padding: 0 0 0 2em;
}

.main-contents li p:last-child {
  margin: 0;
}

.main-contents dd {
  margin: 0 0 0 2em;
}

.main-contents img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

code,pre {
  font-size: 12px;
  font-family: Consolas, Menlo, 'Liberation Mono', Courier, monospace, Meiryo;
}

.hljs { /* 共通設定 */
  overflow-x: auto;
  font-family: Consolas, Menlo, 'Liberation Mono', Courier, monospace, Meiryo;
}
code.hljs {
  display: inline; /* インラインコード用設定 */
  margin: 3 3px; /*お好み*/
  padding: 3px 3px; /*お好み*/
  font-family: Consolas, Menlo, 'Liberation Mono', Courier, monospace, Meiryo;
}
pre code.hljs {
  display: block; /* ブロックコード用設定 */
  margin: 0; /*お好み*/
  padding: 0.5em; /*お好み*/
  font-family: Consolas, Menlo, 'Liberation Mono', Courier, monospace, Meiryo;
}